#app .menu {
  border: 0;
  background: #15a1b1;
}

#app .menu .navbar-collapse li:hover {
  background: #2F6A73;
}

#app .menu a {
  color: #fff;
  font-size: 1.8rem;
}

#app .menu a:hover {
  background: #2F6A73;
}

.box-left {
  margin-bottom: 25px;
}

.box-left .image img {
  width: 100%;
  border: 1px solid white;
}

.box-left .image img:hover {
  border-color: #333;
}

.box-left .news .title a {
  font-weight: bold;
  color: #222;
  font-size: 20px;
}

.box-left .news .title a:hover {
  color: #15a1b1;
  text-decoration: none;
}

.box-left .news .time {
  margin-top: 10px;
}

hr {
  border-color: #999;
}

.box-right {
  padding: 20px;
  padding-top: 0;
  text-align: left;
}

.box-right .image img {
  width: 100%;
  height: 140px;
}

.box-right .title {
  margin-top: 4px;
}

.box-right .title a {
  font-weight: bold;
  color: #222;
  font-size: 15px;
}

.box-right .title a:hover {
  color: #15a1b1;
  text-decoration: none;
}

.content .title {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.content .time {
  margin-top: 10px;
}

.content .image {
  text-align: center;
  margin-bottom: 20px;
}

.content .author {
  text-align: right;
  margin-top: 15px;
  color: black;
}

.comment .guest {
  margin-top: 30px;
}

.comment .user {
  margin-top: 20px;
}

.comment .user .list-comment .content {
  margin: 10px 0;
}

.comment .user .list-comment .content .name {
  color: red;
}

.comment .user .list-comment .box .name {
  color: red;
}

.footer {
  margin-top: 20px;
  text-align: center;
  padding: 40px 0;
  background: #999;
}

/*# sourceMappingURL=custom.css.map */
