#app{
	.menu{
		border: 0;
		background: #15a1b1;
		.navbar-collapse{
			li{
				&:hover{
					background: #2F6A73;
				}
			}
		}
		a{
			color: #fff;
			font-size: 1.8rem;
			&:hover{
				background: #2F6A73;
			}
		}
	}
}

.box-left{
	margin-bottom: 25px;
	.image{
		img{
			width: 100%;
			border: 1px solid white;
			&:hover{
				border-color: #333;
			}
		}
	}
	.news{
		.title{
			a{
				font-weight: bold;
				color: #222;
				font-size: 20px;
				&:hover{
					color: #15a1b1;
					text-decoration: none;
				}
			}
		}
		.description{
		}
		.time{
			margin-top: 10px;
		}
	}
}

hr{
	border-color: #999;
}

.box-right{
	padding: 20px;
	padding-top: 0;
	text-align: left;
	.image{
		img{
			width: 100%;
			height: 140px;
		}
	}
	.title{
		margin-top: 4px;
		a{
			font-weight: bold;
			color: #222;
			font-size: 15px;
			&:hover{
				color: #15a1b1;
				text-decoration: none;
			}
		}
	}
}


.content{
	.title{
		color: black;
	    font-size: 25px;
	    font-weight: bold;
	    text-align: center;
	}
	.time{
		margin-top: 10px;
	}
	.image{
		text-align: center;
    	margin-bottom: 20px;
	}
	.content{

	}
	.author{
		text-align: right;
    	margin-top: 15px;
    	color: black;
	}
}

.comment{
	.guest{
		margin-top: 30px;
	}
	.user{
		margin-top: 20px;
		.list-comment{
			.content{
				margin: 10px 0;
				.name{
					color: red;
				}
			}
			.box{
				.name{
					color: red;
				}
			}
		}
	}
}

.footer{
	margin-top: 20px;
	text-align: center;
	padding: 40px 0;
	background: #999;
}